body {
	background-color: #ededed;
	margin: 0;
	font-family: "Ariel";
}

hr {
	clear: both;
	border-width: 3px;
	margin: 8px;
	position: relative;
}

button {
	background-color: #0b4c5e;
	font-family: "Ariel";
	color: white;
	padding: 12px;
	font-size: 12px;
	border-radius: 12px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

button:hover {
	background-color: slategray;
}

table {
	border: .5px solid black;
	background-color: #ededed;
}

tr, td, th {
	border: .3px dotted black;
	padding: 3px;
}

th {
	background-color: #dbdbdb;
}

textarea {
	display: block;
	position: relative;
	width: 30%;
	height: 40px;
}
	
.body-content {
	display: block;
	overflow: auto;
	margin-right: 14%;
	margin-left: 14%;
	background-color: whitesmoke;
	position: absolute;
	padding: 8px;
	padding-left: 20ex;
	padding-right: 20ex;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropbtn {
	font-family: "Ariel";
	background-color: #0b4c5e;
	color: white;
	padding: 12px;
	font-size: 14px;
	border: none;
}

.dropdown {
	position: relative;
	float: left;
	display: inline-block;
}

.dropdown-content {
	font-family: "Ariel";
	display: none;
	position: absolute;
	background-color: #d4d4d4;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left-center;
	border-radius: 20px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: slategray;
	color: white;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: slategray;}

.nav-buttons {
	display: block;
	color: white;
	padding: 12px;
	font-size: 30px;
	border: none;
	position: absolute;
	left: 10px;
	margin: 10px;
	text-align: left;
	z-index: 2;
}

.research-icons {
	height: 100px;
	width: 100px;
	border: .5px;
	border-color: black;
}

.research-icons:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.query {
	color: red;
	font-style: italic;
}

.linkedin-img {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 1px solid black;
	display: block;
	float: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.linkedin-img:hover {
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.icon-links {
	text-align: center;
}

.current-drpdwn-btn {
	background-color: #617080;
}

.current-page-btn {
	margin-left: 7px;
}
	
#linkedin-caption {
	font-size: 6;
	font-style: italic;
	text-align: center;
}

#research-tag {
	text-align: center;
	text-decoration: italic;
}


#dropdown {
	display: block;
	margin: 8px;
}

#heading-image {
	width: 100%;
	text-align: center;
	background-image: url(https://ajr6n1sqjg847nl9m3ec3n2b-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/IT-Compliance-1210x423.jpg);
	height: 120px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	z-index: 2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

#title-line {
	display: block;
	color: #0b4c5e;
	margin-left: 14ex;
	text-align: left-center;
}

#student-info {
	text-align: center;
}

#end-line {
	position: relative;
	bottom: 2px;
	text-align: center;
	padding: 0;
}

#com {
	color: orange;
}

#edu {
	color: green;
}

#gov {
	color: green;
}

#org {
	color: red;
}

#net {
	color: red;
}

#mil {
	color: Orange;
}

#suggest {
	display: block;
	position: relative;
	height: 120px;
	width: 70%;
}

#takeaway {
	display: block;
	position: relative;
	height: 120px;
	width: 70%;
}